<!-- hasBackdrop = 'true','false' (Explicitly setting hasBackdrop to true or false will override the default backdrop visibility setting for all sidenavs regadless of mode)-->
<mat-sidenav-container fxFill >
    
    <!-- mode ="push","side","over";  position = "start","end"; #sidenav-id for toggle button-->
    <mat-sidenav #sidenav mode="over"  position="start" toggle  >
        <mat-nav-list>
            <div fxLayoutAlign="end">
                <button mat-icon-button (click)="sidenav.close()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <mat-list-item *ngFor="let item of NavItems" [routerLink]="item.link">
                <a>{{item.name}}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content  >
        <mat-toolbar color="primary" >
            <mat-toolbar-row fxLayoutAlign="space-between center">
                <span fxHide.gt-md>
                    <button mat-button (click)="sidenav.toggle()" class="sidenav-toggle">
                        <mat-icon>menu</mat-icon>
                    </button> 
                </span>
                <span fxShow="false" fxShow.gt-xs> Multivendor Marketplace </span>  
                <span fxShow="false" fxShow.gt-xs>
                    <button mat-button *ngFor="let item of NavItems" [routerLink]="item.link">
                        {{item.name}}
                    </button>
                </span>              
            </mat-toolbar-row>
        </mat-toolbar>
        
        <router-outlet  ></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>


