<section
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="5px"
  fxLayoutAlign="space-around center"
>
  <div fxLayout="row" fxLayout.lt-md="column-reverse" fxLayoutGap="10px">
    <div fxFlex="20" fxLayout="column" fxLayout.lt-md="row" fxLayoutGap="10px">
      <mat-card>
        <img
          width="50px"
          src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341"
        />
      </mat-card>
      <mat-card>
        <img
          width="50px"
          src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341"
        />
      </mat-card>
      <mat-card>
        <img
          width="50px"
          src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341"
        />
      </mat-card>
      <mat-card>
        <img
          width="50px"
          src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341"
        />
      </mat-card>
    </div>
    <div fxFlex>
      <img
        src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-product-3_large.png?format=jpg&quality=90&v=1530129341"
      />
    </div>
  </div>
  <div fxFlex="60" >
    <mat-card fxLayout="column" fxLayoutAlign="space-around start">
      <mat-card-title>Product Title</mat-card-title>

      <p class="mat-subheading-1">
        <span><mat-icon>star</mat-icon></span>
        <span><mat-icon>star</mat-icon></span>
        <span><mat-icon>star</mat-icon></span>
        <span><mat-icon>star_half</mat-icon></span>
        <span><mat-icon>star_outline</mat-icon></span>
      </p>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
          pariatur incidunt delectus dolores earum soluta deserunt quo, dolor
          neque provident aspernatur adipisci magni commodi quasi enim amet
          voluptates illum similique!
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="accent"><mat-icon>shopping_cart</mat-icon><span>Buy Now</span></button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
