
<mat-sidenav-container fxFill hasBackdrop="false">
    <mat-sidenav role="store-manager-sidebar" mode="side" opened>
        <mat-nav-list>
            <mat-list-item *ngFor="let item of NavItems">
                <a matLine [routerLink]="item.link" >
                    {{item.name}}
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>                     
                <router-outlet fxLayout="column" fxLayoutGap="30px"></router-outlet>      
    </mat-sidenav-content>
</mat-sidenav-container>
